<form ng-submit="userForm.$valid && save();" name="userForm" novalidate>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding flex="100" flex-gt-lg="60" flex-gt-md="75">
        <div>
            <md-input-container>
                <md-icon md-font-set="mdi" md-font-icon="mdi-account"></md-icon>
                <label>Username</label>
                <input ng-model="user.username" name="username" required>
            </md-input-container>

            <md-input-container>
                <md-icon md-font-set="mdi" md-font-icon="mdi-email"></md-icon>
                <label>Email</label>
                <input ng-model="user.email" name="email" type="email" required>
            </md-input-container>
        </div>
    </md-content>

    <md-content layout-padding flex="100" flex-gt-lg="60" flex-gt-md="75">
        <div>
            <div layout-gt-xs="row">
                <md-input-container flex-gt-xs>
                    <md-icon md-font-set="mdi" md-font-icon="mdi-key-variant"></md-icon>
                    <label>Password</label>
                    <input ng-model="user.password" name="password" type="password" ng-required="isNew">
                </md-input-container>
                <md-input-container flex-gt-xs>
                    <label>Repeat password</label>
                    <input ng-model="repeat_password" name="repeat_password" type="password" ng-required="isNew"
                           compare-to="user.password">
                    <div ng-messages="userForm.repeat_password.$error" multiple md-auto-hide="false">
                        <div ng-message="compareTo">
                            Passwords must be the same
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <groups-selector ng-model="user.groups" flex-gt-xs></groups-selector>
            </div>
            <div layout-gt-xs="row" layout-align="space-between none">
                <md-switch ng-model="user.is_staff" aria-label="Is superuser">
                    Is superuser
                </md-switch>
                <md-button class="md-raised md-primary" type="submit">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-content-save"></md-icon>
                    Save
                </md-button>
            </div>

        </div>
    </md-content>
</form>