requirements.txt
recursive-include nekumo/ifaces/angular_web/templates *.html
recursive-include nekumo/ifaces/angular_web/static/dist *
recursive-include nekumo/ifaces/simple_web/templates *.html
recursive-include nekumo/ifaces/simple_web/static/dist *
