#media-tabs md-tabs-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
  #media-tabs md-tabs-wrapper md-tabs-canvas .md-tab {
    text-transform: none; }

#media-tabs:not(.md-dynamic-height) md-tabs-content-wrapper {
  top: 56px; }

#media-tabs md-tabs-content-wrapper md-tab-content {
  padding: 24px; }

#media-tabs .grid {
  justify-content: center; }

#media .media-entry {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  background-position: center;
  background-size: cover; }
  #media .media-entry.background-folder {
    background-color: #FFB300;
    overflow: hidden; }
    #media .media-entry.background-folder h3 {
      display: inline-block;
      width: 100%;
      max-height: 100%;
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      /* number of lines to show */ }
  #media .media-entry.background-document {
    background-color: #1565C0; }
  #media .media-entry.background-code {
    background-color: #1565C0; }
  #media .media-entry.background-spreadsheet {
    background-color: #4CAF50; }
  #media .media-entry.background-image {
    background-color: #4CAF50; }
  #media .media-entry.background-video {
    background-color: #db4437; }
  #media .media-entry.background-pdf {
    background-color: #db4437; }
  #media .media-entry.background-audio {
    background-color: #fa811a; }
  #media .media-entry.background-compressed {
    background-color: #fa811a; }
  #media .media-entry.background-unknown {
    background-color: #9f9f9f; }

#media md-nav-bar.center nav {
  display: flex;
  align-items: center;
  justify-content: center; }

#directory-empty {
  margin-top: 60px; }
  #directory-empty md-card .md-card-image {
    position: relative;
    background: #FF5722;
    height: 120px; }
    #directory-empty md-card .md-card-image .mdi {
      position: absolute;
      color: #fbfbfb;
      font-size: 180px;
      height: 120px;
      width: 200px;
      top: 0;
      right: 0;
      overflow: hidden; }
    #directory-empty md-card .md-card-image .mdi::before {
      transform: translate(0, 70px); }
