$shadow-key-umbra-opacity:      0.2 !default;
$shadow-key-umbra-opacity:      0.2 !default;
$shadow-key-penumbra-opacity:   0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;
$whiteframe-shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $shadow-key-umbra-opacity), 0px 1px 1px 0px rgba(0, 0, 0, $shadow-key-penumbra-opacity), 0px 2px 1px -1px rgba(0, 0, 0, $shadow-ambient-shadow-opacity) !default;


#media-tabs {
    md-tabs-wrapper {
        background: #FFFFFF;
        box-shadow: $whiteframe-shadow-1dp;
        // padding: 0 24px;

        md-tabs-canvas {
            // height: 56px;

            md-pagination-wrapper {
                // height: 56px;
            }

            .md-tab {
                // padding: 16px 24px;
                text-transform: none;
            }
        }
    }

    &:not(.md-dynamic-height) {

        md-tabs-content-wrapper {
            top: 56px;
        }
    }

    md-tabs-content-wrapper {

        md-tab-content {
            padding: 24px;
        }
    }

    .grid {
        justify-content: center;
    }
}

#media {
    .media-entry {
        margin: 0 16px 16px 0;
        position: relative;
        cursor: pointer;

        .preview {
            width: 256px;
            height: 256px;
            display: block;
            background-position: center;
            background-size: cover;
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            padding: 0 16px;
            height: 48px;
            line-height: 48px;
            background: rgba(0, 0, 0, 0.54);
            color: #fff;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
