$folder-color: #FFB300;
$document-color: #1565C0;
$code-color: #1565C0;
$spreadsheet-color: #4CAF50;
$image-color: #4CAF50;
$video-icolor: #db4437;
$pdf-icolor: #db4437;
$audio-color: #fa811a;
$compressed-color: #fa811a;
$unknown-color: #9f9f9f;
