<!DOCTYPE html>
<html lang="en" ng-app="{% block ng_app %}{% endblock %}">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- https://docs.angularjs.org/error/$location/nobase -->
        <base href="/">
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <base href="/">
        {% block extra_head %}
            {% block css %}{% endblock %}
        {% endblock %}
        {% endblock %}
    </head>
    <body class="ng-cloak" md-theme="default">
        <div id="main" class="animate-slide-up {% block main_class %}{% endblock %}" ui-view="main" layout="column">
            <div id="layout-content-only" class="template-layout" layout="column" flex ng-controller="nekumoCtrl">
                <md-content id="content" class="animate-slide-up md-hue-2" ui-view="content" flex>
                    {% block content %}
                    {% endblock %}
                </md-content>
            </div>
        </div>
        <script src="{{ url_for('static', filename='src/libs/angular/angular.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/sprintf/dist/sprintf.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/lodash/dist/lodash.min.js') }}"></script>

        <script
                src="{{ url_for('static', filename='src/libs/angular-hotkeys/build/hotkeys.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='src/libs/mousetrap/mousetrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/angular-hotkeys/angular-hotkeys.min.js') }}"></script> -->

        <script src="{{ url_for('static', filename='src/libs/angular-socket-io/socket.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/socket.io-client/dist/socket.io.js') }}"></script>

        <script src="{{ url_for('static', filename='src/libs/angular-animate/angular-animate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='src/libs/angular-material/angular-material.min.js') }}"></script>

        <script src="{{ url_for('static', filename='src/shared/theme/theme.js') }}"></script>

        <script src="{{ url_for('static', filename='src/shared/nekumo/nekumo.js') }}"></script>

        {% block js %}{% endblock %}
    </body>
</html>
