{% extends "base.html" %}
{% block ng_app %}galleryApp{% endblock %}

{% block content %}
{#    <gallery></gallery>#}
{#    <video-player src="'{{ entry.iface_path }}'" mime-type="'{{ entry.mimetype() }}'"></video-player>#}
    <!-- <gallery></gallery> -->


          <div id="top_header">
        <div id="logo"></div>
      </div>
      <div id="main_video">
        <div class="imageSub"> <!-- Put Your Image Width -->
           <div class="blackbg" id="playerstatebg">IDLE</div>
           <div class=label id="playerstate">IDLE</div>
           <img src="images/bunny.jpg" id="video_image">
           <div id="video_image_overlay"></div>
           <video id="video_element">
           </video>
        </div>

        <div id="media_control">
           <div id="play"></div>
           <div id="pause"></div>
           <div id="progress_bg"></div>
           <div id="progress"></div>
           <div id="progress_indicator"></div>
           <div id="fullscreen_expand"></div>
           <div id="fullscreen_collapse"></div>
           <button is="google-cast-button" id="castbutton"></button>
           <div id="audio_bg"></div>
           <div id="audio_bg_track"></div>
           <div id="audio_indicator"></div>
           <div id="audio_bg_level"></div>
           <div id="audio_on"></div>
           <div id="audio_off"></div>
           <div id="duration">00:00:00</div>
        </div>
      </div>
      <div id="media_info">
        <div id="media_title">
        </div>
        <div id="media_subtitle">
        </div>
        <div id="media_desc">
        </div>
      </div>

      <div id="carousel">
      </div>


{% endblock %}

{% block js %}

    <script src="{{ url_for('static', filename='src/libs/angular-sanitize/angular-sanitize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/libs/videogular/videogular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/libs/videogular-buffering/vg-buffering.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/libs/videogular-controls/vg-controls.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/libs/videogular-overlay-play/vg-overlay-play.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/shared/videoPlayer/videoPlayer.js') }}"></script>
    <script src="{{ url_for('static', filename='src/shared/chromecast/chromecast.js') }}"></script>
    <script src="{{ url_for('static', filename='src/components/gallery/gallery.js') }}"></script>

    <!-- Chromecast -->
    <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

{% endblock %}

{% block css %}
    <link href="{{ url_for('static', filename='src/components/gallery/gallery.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='src/libs/videogular-themes-default/videogular.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='src/shared/videoPlayer/chromecast.css') }}" rel="stylesheet">
{% endblock %}