<div ng-controller="optionsCtrl">
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-font-set="mdi" md-font-icon="mdi-dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4" class="menu-options">
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-launch" md-menu-align-target></md-icon>
                    Open in new tab
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="ctrl.checkVoicemail()">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-download" md-menu-align-target></md-icon>
                    Download
                </md-button>
            </md-menu-item>
            <md-menu-item  ng-click="openRename(entry, $event);">
                <md-button>
                    <md-icon md-font-set="mdi" md-font-icon="mdi-pencil" md-menu-align-target></md-icon>
                    Rename
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!$rootScope.pasteAction">
                <md-button ng-click="openCopy(entry, $event);">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-content-copy" md-menu-align-target></md-icon>
                    Copy
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!$rootScope.pasteAction">
                <md-button ng-click="openMove(entry, $event);">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-content-cut" md-menu-align-target></md-icon>
                    Cut
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$rootScope.pasteAction">
                <md-button ng-click="openPaste(entry, $event);">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-content-paste" md-menu-align-target></md-icon>
                    Paste
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="openDelete(entry, $event);">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-delete" md-menu-align-target></md-icon>
                    Delete
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="ctrl.checkVoicemail()">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-information" md-menu-align-target></md-icon>
                    Information
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
