<div id="previewGallery">
    <div ng-controller="previewGalleryCtrl">
        <md-icon class="arrow arrow-left" ng-click="options.prevEntry();"
                 md-font-set="mdi" md-font-icon="mdi-arrow-left-bold-circle-outline"></md-icon>
        <div ng-switch="player">
            <div ng-switch-when="video" id="video-preview">
                <video-player src="entry.path" mime-type="entry.mimetype"></video-player>
            </div>
            <div ng-switch-when="image" id="image-preview">
                <img src="{{ entry.path }}" alt="{{ entry.path }}" />
            </div>
            <div ng-switch-when="audio" id="audio-preview">
                <audio-player src="entry.path"></audio-player>
            </div>
            <div ng-switch-default>
                <div id="no-preview" layout="row" layout-wrap>
                    <div flex="30" layout="row" class="icon" layout-align="center center">
                        <md-icon md-font-set="mdi" md-font-icon="mdi-eye-off"></md-icon>
                    </div>
                    <div flex=70" class="body">
                        <h2>No preview available</h2>
                        <h3>{{ entry.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <span style="color: white; position: fixed; font-size: 40px;">{{ entry.path }}</span> -->
        <md-icon class="arrow arrow-right" ng-click="options.nextEntry();"
                 md-font-set="mdi" md-font-icon="mdi-arrow-right-bold-circle-outline"></md-icon>
    </div>
</div>