#previewGallery {
    .arrow {
        position: fixed;
        font-size: 50px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .arrow-left {
        left: 20px;
    }
    .arrow-right {
        right: 20px;
    }
}

#video-preview {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#image-preview {
    // position: fixed;

    img {
        max-width: 80vw;
        max-height: 80vh;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url('/.nekumo/static/src/shared/preview/transparent-background.png');
    }
}

#audio-preview {
    md-card {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 400px;
        min-height: 80px;
    }
}

#backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: .8;
}

#no-preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 700px;
    height: 300px;

    .icon {
        background-color: #FFB300;
        md-icon {
            color: #f9f9f9;
            font-size: 150px;
            height: auto;
            width: auto;
        }
    }

    .body {
        padding-left: 20px;

        h2 {
            font-size: 3.5rem;
            margin-bottom: 0;
        }

        h3 {
            color: #838383;
        }
        background-color: #f9f9f9;
    }
}