@import "../../libs/angular-material/angular-material.scss";

@import 'reset';
@import 'variables';
@import 'mixins';
@import 'angular-material-extend';
@import 'layouts-template';
@import 'layouts-page';
@import 'animations';
@import 'colors';
@import 'icons';
@import 'material';
@import 'typography';
@import "extras";

//@import 'plugins/angular-google-map.scss';
//@import 'plugins/angular-moment-picker.scss';
//@import 'plugins/c3.scss';
//@import 'plugins/chartist.scss';
//@import 'plugins/chartjs.scss';
//@import 'plugins/datatable.scss';
//@import 'plugins/highlight.scss';
//@import 'plugins/nvd3.scss';
//@import 'plugins/perfect-scrollbar.scss';
//@import 'plugins/text-angular.scss';

@import 'helpers';
@import 'print';

/* Accent */
[md-theme="default"] .md-accent-bg {
    background-color: rgb(3,155,229);
    color: rgba(255,255,255,1);
}

[md-theme="default"] .md-accent-bg .secondary-text,
[md-theme="default"] .md-accent-bg .icon {
    color: rgba(255,255,255,0.7);
}

[md-theme="default"] .md-accent-bg .hint-text,
[md-theme="default"] .md-accent-bg .disabled-text {
    color: rgba(255,255,255,0.3);
}

[md-theme="default"] .md-accent-bg .fade-text,
[md-theme="default"] .md-accent-bg .divider {
    color: rgba(255,255,255,0.12);
}

// TODO: añadido luego. Probar perfect-scrollbar
//html, body {
//    overflow: auto !important;
//}