{% extends "base.html" %}

{% block title %}{{ entry.name }}{% endblock %}

{% block content %}
    <h1>{{ entry.name }}</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Options{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for subentry in entries %}
            <tr>
                <td>{{ subentry.type }}</td>
                <td>
                    <a href="{{ subentry.relative_path() }}">{{ subentry.name }}</a>
                </td>
                <td>
                    <form action="{{ subentry.relative_path() }}" method="post">
                        {% for method in subentry.methods %}
                            <button name="method" value="{{ method }}">{{ ALL_METHODS_PROPERTIES[method] }}</button>
                        {% endfor %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
