<div id="player">
    <div layout="row">
        <div>
            <md-button class="md-raised md-primary" ng-click="$chromecast.togglePause();">
                <md-icon md-font-set="mdi" md-font-icon="mdi-play" ng-if="playerState == 'PAUSED'"></md-icon>
                <md-icon md-font-set="mdi" md-font-icon="mdi-pause" ng-if="playerState != 'PAUSED'"></md-icon>
            </md-button>
            <span class="timing">{{ (currentTime * 1000)|duration:'h:mm:ss' }}</span>
        </div>
        <md-slider flex ng-model="currentTime" ng-change="$chromecast.seekTo(currentTime)"
                   min="1" max="{{ duration }}"
                   aria-label="timer">
        </md-slider>
        <div>
            <span class="timing">{{ (duration * 1000)|duration:'h:mm:ss' }}</span>
            <div id="volume">
                <md-button ng-class="{'md-raised': volumeSlider}" ng-click="toggleVolumeSlider();">
                    <md-icon md-font-set="mdi" md-font-icon="mdi-volume-{{ volumeLevelName }}"></md-icon>
                </md-button>
                <div id="volume-slider" md-whiteframe="1" ng-if="volumeSlider">
                    <md-slider ng-model="volumeLevel" min="0" max="100" aria-label="volume" md-discrete
                               ng-change="setVolumeLevel(volumeLevel)"
                               class="md-accent" md-vertical></md-slider>
                </div>
            </div>
            <button class="cast md-button md-ink-ripple" is="google-cast-button"></button>
        </div>
    </div>
</div>