<!-- http://stackoverflow.com/questions/38138425/is-it-possible-to-create-a-table-from-md-list-and-md-list-item -->
<md-whiteframe class="md-whiteframe-1dp {{ message.type }}" flex-sm="90" flex-gt-sm="65" flex-gt-md="45"
               layout id="alert-box" ng-if="message">
  <h2>{{ message.body }}</h2>
</md-whiteframe>

<md-content class="content" flex ms-scroll>
    <md-button class="md-raised md-primary" ui-sref="userForm">
        <md-icon md-font-set="mdi" md-font-icon="mdi-account-plus"></md-icon>
        Create
    </md-button>

    <md-list class="users-list">
        <md-subheader class="md-no-sticky">Users</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="user in users">
            <md-icon md-font-set="mdi" md-font-icon="mdi-account"
                     class="md-avatar-icon"></md-icon>
            <img ng-src="{{user.options.face}}?25" class="md-avatar" alt="{{user.options.face}}"
                 ng-if="user.options.face"/>
            <div class="md-list-item-text" layout="row" layout-align="start center">
                <div flex="10">
                    <h3>{{ user.username }}</h3>
                    <p>{{ user.verboseType }}</p>
                </div>
                <div flex="20">
                    {{ user.email }}
                </div>
                <div flex="15">
                    {{ user.created_at|date }}
                </div>
                <div flex="30">
                    <md-chips ng-model="user.groups" readonly="true" ng-if="user.groups.length">
                        <md-chip-template>
                            {{$chip.name}}
                        </md-chip-template>
                    </md-chips>
                    <span ng-if="!user.groups.length">No groups</span>
                </div>
                <div flex>
                    <md-button class="md-raised md-primary" ui-sref="userFormUpdate({userId: user.id})">
                        <md-icon md-font-set="mdi" md-font-icon="mdi-pencil"></md-icon>
                        Change
                    </md-button>
                </div>
            </div>
        </md-list-item>
        <md-subheader class="md-no-sticky">Groups</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="group in groups">
            <md-icon md-font-set="mdi" md-font-icon="mdi-account-multiple"
                     class="md-avatar-icon"></md-icon>
            <img ng-src="{{group.options.face}}?25" class="md-avatar" alt="{{group.options.face}}"
                 ng-if="group.options.face"/>
            <div class="md-list-item-text" layout="row" layout-align="start center">
                <div flex="10">
                    <h3>{{ group.name }}</h3>
                    <p>{{ group.type }}</p>
                </div>
                <div flex="20">
                    {{ group.email }}
                </div>
                <div flex="15">
                    {{ group.created_at|date }}
                </div>
                <div flex="30">
                    {{ group.groups }}
                </div>
                <div flex="10">
                    <md-button class="md-raised md-primary" ui-sref="groupFormUpdate({groupId: group.id})">
                        <md-icon md-font-set="mdi" md-font-icon="mdi-pencil"></md-icon>
                        Change
                    </md-button>
                </div>
            </div>
        </md-list-item>

    </md-list>
</md-content>