@import "../../../../shared/nekumo/variables";


#file-manager {
    //.folders, .files {
    //    justify-content: center;
    //}


    .grid-view {
        padding: 32px 24px 24px 24px;

        .item {
            margin: 8px;
            width: 250px;
            border-radius: 2px;
            overflow: hidden;
            cursor: pointer;

            &.folder {
                height: 64px;
                padding: 8px 16px;

                .title {

                    md-icon {
                        margin-right: 16px;
                    }

                    .name {
                        font-size: 15px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .show-details {

                    .md-icon-button {
                        margin: 0;
                    }
                }
            }

            &.file {

                .preview {
                    background: #FFFFFF;
                    background-position: center;
                    background-size: cover;
                    // padding: 16px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    height: 143px;
                    width: 100%;

                    &.background-folder {
                        background-color: $folder-color;
                    }
                    &.background-document {
                        background-color: $document-color;
                    }
                    &.background-code {
                        background-color: $code-color;
                    }
                    &.background-spreadsheet {
                        background-color: $spreadsheet-color;
                    }
                    &.background-image {
                        background-color: $image-color;
                    }
                    &.background-video {
                        background-color: $video-icolor;
                    }
                    &.background-pdf {
                        background-color: $pdf-icolor;
                    }
                    &.background-audio {
                        background-color: $audio-color;
                    }
                    &.background-compressed {
                        background-color: $compressed-color;
                    }
                    &.background-unknown {
                        background-color: $unknown-color;
                    }
                }


                .bottom {
                    height: 64px;
                    padding: 8px 16px;

                    .title {

                        md-icon {
                            margin-right: 16px;
                        }

                        .name {
                            font-size: 15px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }

                    .show-details {

                        .md-icon-button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}